@model Borrowee.Models.BorrowerModels.BorrowerDetail

@{
    ViewBag.Title = "Borrower Details";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>@ViewBag.Title.</h2>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>