@model Borrowee.Models.TransactionModels.TransactionDetail

@{
    ViewBag.Title = "Transaction Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
            @if (Model.ItemImage != null)
            {
                <br><img src="@(Url.Content(Constants.ItemImagePath) + @Html.DisplayFor(model => model.ItemImage.FileName))" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Borrower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borrower.FirstName)
            @Html.DisplayFor(model => model.Borrower.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LentOutDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LentOutDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReturned, new { Id = Model.Id })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
